/* Applies to entire page */
body {
  background-color: #fcfafc; /* really light grey with slight green */
  color: gray;
  font-weight: 200;
}

/* Navigation : fixed at the top */
#navigation {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
}

#navigation > li > a {
  font-size: 1.5rem;
  color: #fcfafc;
}

.main-heading {
  margin-top: 25px;
}

.main-heading > img {
  display: inline-block;
  max-width: 100px;
  border-radius: 20%;
}

.main-heading > div > h1 {
  display: inline-block;
  font-weight: 200;
  margin-top: 15px;
  font-size: 3.5rem;
}

.skills {
  font-size: 1.3rem;
}

.skills i {
  margin: 0 5px;
}

/* Modifying CSS library */
.card .card-content {
    padding: 15px;
}

#projects {
  font-size: 1.8rem;
}

.project-name {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 200;
  margin: 0;
}

.project-tech {
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.2;
}

.project-desc {
  font-size: 1rem;
}

/* Modifying CSS library */
.card-action {
  font-size: 1rem;
}